{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="University and Education Template" />
    <meta name="description" content="Campus - University and Education Template" />

    <!-- title  -->
    <title>CS Camels Career Hour</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'img/logos/favicon.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'img/logos/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/logos/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/logos/apple-touch-icon-114x114.png' %}" />

    <!-- plugins -->

    <link rel="stylesheet" href="{% static 'css/plugins.css' %}" />

    <!-- search css -->
    <link rel="stylesheet" href="{% static 'search/search.css' %}" />

    <!-- core style css -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
      <style>
        .project-title {
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          font-size: 2.5rem;
          line-height: 1.2;
          margin-bottom: 0.5rem;
      }

      .project-description {
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          font-size: 1.2rem;
          line-height: 1.5;
          margin-bottom: 1.5rem;
      }

      .butn.theme .alt-font {
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 1.1rem;
      }
      .alumni-photo {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
      #company-logo {
        width: 100%;
        height: auto;
        object-fit: cover; /* This ensures the image covers the area without stretching */
    }
</style>

</head>

<body>
    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start header section -->
        <header class="header-style1 menu_area-light">
            <div class="navbar-default">
                <!-- start top search -->
                <div class="top-search bg-highlight-theme">
                    <div class="container">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search font-size18 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times font-size18 line-height-28 margin-5px-top"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light no-padding">
                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="{% url 'blogApp:index' %}" class="navbar-brand"><img id="logo" src="{% static 'img/logos/logo5.png' %}" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>
                                    <!-- start menu area -->
                                    <ul class="navbar-nav ml-auto" id="nav">
                                        <li><a href="{% url 'blogApp:index' %}">Home</a>
                                        </li>

                                        <li><a href="#">Resources</a>
                                            <ul>
                                                <li><a href="{% url 'blogApp:technical_interviews_list' %}">Technical Interview Prep</a></li>
                                                <li><a href="{% url 'blogApp:behavioral_interviews_list' %}">Behavioral Interview Prep</a></li>
                                                  <li><a href="{% url 'blogApp:grad_school_prep_list' %}">Graduate School Prep</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Opportunities</a>
                                            <ul>
                                              <li><a href="{% url 'blogApp:job_list' %}">Jobs</a>
                                                  {% if user.is_authenticated %}
                                                  <ul>
                                                      <li><a href="{% url 'blogApp:create_opportunity' %}"><i class="fa fa-plus"></i> Add Job</a></li>
                                                  </ul>
                                                  {% endif %}
                                              </li>
                                              <li><a href="{% url 'blogApp:internship_list' %}">Internships</a>
                                                  {% if user.is_authenticated %}
                                                  <ul>
                                                      <li><a href="{% url 'blogApp:create_opportunity' %}"><i class="fa fa-plus"></i> Add Internship</a></li>
                                                  </ul>
                                                  {% endif %}
                                              </li>
                                              <li><a href="{% url 'blogApp:research_list' %}">Research</a>
                                                  {% if user.is_authenticated %}
                                                  <ul>
                                                      <li><a href="{% url 'blogApp:create_opportunity' %}"><i class="fa fa-plus"></i> Add Research</a></li>
                                                  </ul>
                                                  {% endif %}
                                              </li>
                                              <li><a href="{% url 'blogApp:volunteer_list' %}">Volunteering</a>
                                                  {% if user.is_authenticated %}
                                                  <ul>
                                                      <li><a href="{% url 'blogApp:create_opportunity' %}"><i class="fa fa-plus"></i> Add Volunteering</a></li>
                                                  </ul>
                                                  {% endif %}
                                              </li>
                                              <li><a href="{% url 'blogApp:other_list' %}">Other</a>
                                                  {% if user.is_authenticated %}
                                                  <ul>
                                                      <li><a href="{% url 'blogApp:create_opportunity' %}"><i class="fa fa-plus"></i> Add Other</a></li>
                                                  </ul>
                                                  {% endif %}
                                              </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Pages</a>
                                            <ul>
                                              <li>
                                                  <a href="{% url 'blogApp:project_list' %}">Project Gallery</a>
                                                  {% if user.is_authenticated %}
                                                  <ul>
                                                      <li><a href="{% url 'blogApp:create_project' %}">Add Project</a></li>
                                                  </ul>
                                                  {% endif %}
                                                </li>
                                                <li>
                                                    <a href="{% url 'blogApp:event_list' %}">Events</a>
                                                    {% if user.is_authenticated %}
                                                    <ul>
                                                        <li><a href="{% url 'blogApp:create_event' %}">Add Event</a></li>
                                                    </ul>
                                                    {% endif %}
                                                </li>
                                                <li><a href="{% url 'blogApp:alumni_list' %}">Alumni</a></li>
                                                <li><a href="https://www.conncoll.edu/academics/majors-departments-programs/departments/government/student-advisory-board/" target="_blank">Newsletters</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'blogApp:blog_list' %}">Blog</a>
                                            {% if user.is_authenticated %}
                                            <ul>
                                                <li><a href="{% url 'blogApp:create_blog_post' %}">Add New Post</a></li>
                                            </ul>
                                            {% endif %}
                                        </li>
                                        <li>
                                          <a href="#">
                                              <i class="fa fa-user"></i>
                                          </a>
                                          <ul>
                                              {% if user.is_authenticated %}
                                                  <li><a href="{% url 'profile' %}">Hello, {{ user.first_name.capitalize }}</a></li>
                                                  <li><a href="{% url 'logout' %}">Logout</a></li>
                                              {% else %}
                                                  <li><a href="{% url 'login' %}">Login</a></li>
                                                  <li><a href="{% url 'register' %}">Register</a></li>
                                              {% endif %}
                                          </ul>
                                      </li>
                                    </ul>
                                    <!-- end menu area -->
                                    <!-- start atribute navigation -->
                                    <div class="attr-nav sm-no-margin sm-margin-65px-right xs-margin-60px-right">
                                        <ul>
                                            <li class="search"><a href="#"><i class="fas fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- end atribute navigation -->
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!-- end header section -->
        {% block content %}
        <!-- start slideshow-->
        <div class="container-fluid full-screen">
            <div class="row slider-fade">
                <div class="owl-carousel owl-theme">
                    {% latest_projects_slideshow count=3 %}
                </div>
            </div>
        </div>
        <!-- end slideshow-->

        <!-- start facility section -->
        <section class="no-padding-top facility-box facility-wrapper ">
            <div class="container">
                <div class="row facility-block">
                    <div class="col-12">
                        <div class="owl-carousel owl-theme">
                            <div class="step bg-sky">
                                <a href="#" class="text-center">
                                    <i class="ti-briefcase"></i>
                                    <h4 class="step-title">Jobs</h4>
                                </a>
                            </div>
                            <div class="step bg-green">
                                <a href="#" class="text-center">
                                    <i class="ti-check-box"></i>
                                    <h4 class="step-title">Internships</h4>
                                </a>
                            </div>
                            <div class="step bg-pink">
                                <a href="#" class="text-center">
                                    <i class="ti-linkedin"></i>
                                    <h4 class="step-title">Alumni Profiles</h4>
                                </a>
                            </div>
                            <div class="step bg-yellow">
                                <a href="#" class="text-center">
                                    <i class="ti-calendar"></i>
                                    <h4 class="step-title">Events</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end facility section -->

        <!-- start about us section -->
        <section class="about-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-sm-12 order-2 order-lg-1">
                        <div class="padding-50px-right md-padding-40px-right sm-no-padding-right">
                            <h3 class="font-weight-500 font-size32 md-font-size28 sm-font-size26 xs-font-size24 margin-30px-bottom md-margin-25px-bottom sm-margin-20px-bottom text-theme-color">Welcome to CS Camel Career Hour</h3>
                            <p class="margin-30px-bottom md-margin-25px-bottom sm-margin-20px-bottom font-size16 line-height-30"> Our mission is to empower students with the tools, resources, and connections they need to thrive in their careers. CS Camel Career Hour is committed to guiding you on the path to success.</p>
                            <ul class="list-style5">
                                <li>Job and internship listings</li>
                                <li>Networking opportunities</li>
                                <li>Industry insights</li>
                                <li>Career preparation</li>
                            </ul>
                            <a class="butn fill margin-30px-top md-margin-25px-top sm-margin-20px-top" href="{% url 'blogApp:index' %}">Read More <i class="fas fa-long-arrow-alt-right margin-10px-left"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-7 col-sm-12 order-1 order-lg-2 sm-margin-40px-bottom xs-margin-30px-bottom">
                        <div class="row">
                            <div class="col-md-7 xs-margin-25px-bottom">
                                <div class="xs-text-center">
                                    <img src="{% static 'img/content/bg01.png' %}" alt="" class="border-radius-6" />
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="about-img">
                                    <img src="{% static 'img/content/bgg2.jpg' %}" alt="" class="margin-30px-bottom sm-margin-25px-bottom border-radius-6" />
                                    <img src="{% static 'img/content/bg22.jpg' %}" alt="" class="border-radius-6" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end about us section -->

        <!-- start opportunities area section -->
        <section class="courses-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 center-col margin-50px-bottom md-margin-40px-bottom text-center">
                        <h3 class="font-weight-500 font-size32 md-font-size28 sm-font-size26 xs-font-size24 section-title">Recent Opportunities</h3>
                        <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
                    </div>
                </div>
                <div class="courses-list">
                    <div class="owl-carousel">
                        {% for opportunity in recent_opportunities %}
                        <div class="courses-box">
                            <div id="company-logo">
                                <a href="{% url 'blogApp:opportunity_detail' opportunity.pk %}">
                                    <!-- Replace with opportunity's photo-->
                                    <a href="{% url 'blogApp:opportunity_detail' opportunity.pk %}">
                                      {% if opportunity.company_logo %}
                                      <img src="{{ opportunity.company_logo.url }}" alt="{{ opportunity.company }}" id="company-logo"/>
                                      {% else %}
                                        <img src="{% static 'img/default-company.jpg' %}" alt="Default Image"  class="company-logo"/>
                                      {% endif %}
                                    </a>
                                </a>
                            </div>
                            <div class="course-main-content">
                                <div class="courses-desc last-paragraph-no-margin">
                                    <div class="courses-title">
                                        <h4 class="font-size22 md-font-size20 sm-font-size18 margin-5px-bottom font-weight-500">
                                            <a href="{% url 'blogApp:opportunity_detail' opportunity.pk %}" class="text-theme-color">{{ opportunity.title|truncatechars:40 }}</a>
                                        </h4>
                                    </div>
                                    <div class="course-review margin-15px-bottom">
                                        <span>{{ opportunity.company }}</span>
                                    </div>
                                    <div class="posted-date">
                                      <span class="ti-timer mr-2"></span>
                                      <span>Posted: {{ opportunity.created_date|timesince }} ago</span>
                                  </div>
                                </div>
                            </div>
                            <div class="card-footer media bg-white align-items-center justify-content-between">
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-1">
                                        <i class="ti-location-pin mr-2"></i>{{ opportunity.location }}
                                    </li>
                                    <li>
                                      Salary:
                                      {% if opportunity.salary_min and opportunity.salary_max %}
                                          ${{ opportunity.salary_min }} - ${{ opportunity.salary_max }}
                                      {% elif opportunity.salary_min %}
                                          From ${{ opportunity.salary_min }}
                                      {% elif opportunity.salary_max %}
                                          Up to ${{ opportunity.salary_max }}
                                      {% else %}
                                          Not specified
                                      {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- end opportunities area section -->

        <!-- start event section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 center-col margin-50px-bottom sm-margin-40px-bottom text-center">
                        <h3 class="font-weight-500 font-size32 md-font-size28 sm-font-size26 xs-font-size24 section-title">Our Events</h3>
                        <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
                    </div>
                </div>
                <div class="row">
                    {% for event in recent_events %}
                    <div class="col-lg-6 margin-30px-bottom xs-margin-25px-bottom">
                        <div class="events-block bg-light-gray height-100 border-radius-6">
                            <div class="col-left">
                                <div class="position-relative overflow-hidden">
                                    <img src="{{ event.photo.url }}" alt="{{ event.title }}">
                                </div>
                                <div class="event-date">
                                    <div class="font-size22 md-font-size20 xs-font-size18 font-weight-600">{{ event.datetime|date:"d" }}</div>
                                    <div class="font-size16 font-weight-600 line-height-1">{{ event.datetime|date:"M" }}</div>
                                </div>
                            </div>
                            <div class="col-right">
                                <div class="padding-30px-lr xs-padding-20px-lr xs-padding-20px-tb display-table-cell vertical-align-middle height-100">
                                    <div class="margin-20px-bottom md-margin-15px-bottom">
                                        <h4 class="margin-5px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500 padding-10px-top">
                                            <a href="{% url 'blogApp:event_detail' slug=event.slug %}" class="text-theme-color">{{ event.title|truncatechars:40 }}</a>
                                        </h4>
                                        <p class="no-margin-bottom font-weight-600"><i class="ti-timer padding-10px-right"></i>{{ event.datetime|date:"H:i A" }}</p>
                                    </div>
                                    <p class="margin-20px-bottom md-margin-15px-bottom">{{ event.description|truncatechars:70 }}</p>
                                    <p class="">Organizer: <span class="font-weight-600">{{ event.organizer }}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- end event section -->

        <!-- start our team section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 center-col margin-50px-bottom sm-margin-40px-bottom text-center">
                        <h3 class="font-weight-500 font-size32 md-font-size28 sm-font-size26 xs-font-size24 section-title">Our Alumni</h3>
                        <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
                    </div>
                </div>
                <div class="row">
                    {% for alumnus in recent_alumni %}
                    <div class="col-lg-4 sm-margin-30px-bottom xs-margin-25px-bottom">
                        <div class="team-block">
                            <div class="team-image position-relative display-block overflow-hidden">
                              <a href="{% url 'blogApp:alumni_detail' alumnus.id %}">
                                  {% if alumnus.photo %}
                                  <img src="{{ alumnus.photo.url }}" alt="{{ alumnus.first_name }} {{ alumnus.last_name }}" class="alumni-photo" />
                                  {% else %}
                                  <img src="{% static 'img/default-alumni.jpg' %}" alt="Default Image" class="alumni-photo"/>
                                  {% endif %}
                                </a>
                            </div>
                            <div class="team-info padding-20px-all xs-padding-15px-all text-center">
                                <h5 class="font-size20 md-font-size18 text-theme-color margin-5px-bottom sm-no-margin-bottom"><a href="{% url 'blogApp:alumni_detail' id=alumnus.id %}" class="text-theme-color">{{ alumnus.first_name }} {{ alumnus.last_name }}</a></h5>
                                <div class="team-position">{{ alumnus.position }} at {{ alumnus.company }}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- end our team section -->

        <!--start blog section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 center-col margin-50px-bottom sm-margin-40px-bottom text-center">
                        <h3 class="font-weight-500 font-size32 md-font-size28 sm-font-size26 xs-font-size24 section-title">Latest posts</h3>
                        <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
                    </div>
                </div>
                <div class="row">
                    {% for post in recent_blog_posts %}
                    <div class="col-lg-4 sm-margin-30px-bottom xs-margin-25px-bottom">
                        <div class="blog-block">
                            <div>
                                <img src="{{ post.image.url }}"  alt="{{ post.title }}" />
                            </div>
                            <div class="blog-content">
                                <a href="{% url 'blogApp:blog_detail' slug=post.slug %}" class="blog-text font-size16 xs-font-size14 font-weight-500">{{ post.category }}</a>
                                <h4 class="font-size20 md-font-size18 font-weight-500 line-height-30 margin-15px-tb">
                                    <a href="{% url 'blogApp:blog_detail' slug=post.slug %}" class="text-theme-color">{{ post.title|truncatechars:50}}</a>
                                </h4>
                                <p class="no-margin-bottom">{{ post.created_date|date:"j F, Y" }} - by <a href="#" class="blog-text font-weight-500">{{ post.author.first_name }} {{ post.author.last_name }}</a></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- end blog section-->

        {% endblock %}
        <!-- start footer section -->
        <footer class="bg-white border-color-light-gray padding-70px-top">
            <div class="footer-bar bg-white xs-font-size13 border-top border-color-light-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-left xs-text-center xs-margin-5px-bottom text-dark-gray sm-font-size13">
                            <p>© Copyright CC Career Hour 2023. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- modernizr js -->
    <script src="{% static 'js/modernizr.js' %}"></script>

    <!-- bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- serch -->
    <script src="{% static 'search/search.js' %}"></script>

    <!-- navigation -->
    <script src="{% static 'js/nav-menu.js' %}"></script>

    <!-- tab -->
    <script src="{% static 'js/easy.responsive.tabs.js' %}"></script>

    <!-- owl carousel -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>

    <!-- thumbs js -->
    <script src="{% static 'js/owl.carousel.thumbs.js' %}"></script>

    <!-- jquery.counterup.min -->
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>

    <!-- stellar js -->
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>

    <!-- waypoints js -->
    <script src="{% static 'js/waypoints.min.js' %}"></script>

    <!-- countdown js -->
    <script src="{% static 'js/countdown.js' %}"></script>

    <!-- jquery.magnific-popup js -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

    <!-- isotope.pkgd.min js -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

    <!-- custom scripts -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- all js include end -->

</body>

</html>
