<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="University and Education Template" />
    <meta name="description" content="Campus - University and Education Template" />

    <!-- title  -->
    <title>Campus - University and Education Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css" />

    <!-- core style css -->
    <link href="css/styles.css" rel="stylesheet" />

</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start header section -->
        <header class="header-style1 menu_area-light">

            <div class="navbar-default">

                <!-- start top search -->
                <div class="top-search bg-highlight-theme">
                    <div class="container">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search font-size18 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times font-size18 line-height-28 margin-5px-top"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light no-padding">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="index.html" class="navbar-brand"><img id="logo" src="img/logos/logo.png" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- start menu area -->
                                    <ul class="navbar-nav ml-auto" id="nav" style="display: none;">
                                        <li><a href="#">Home</a>
                                            <ul>
                                                <li><a href="demo-1.html">Demo 01</a></li>
                                                <li><a href="demo-2.html">Demo 02</a></li>
                                                <li><a href="demo-3.html">Demo 03</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="#">Courses</a>
                                            <ul>
                                                <li><a href="courses-grid.html">Courses Grid</a></li>
                                                <li><a href="course-details.html">Course Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Events</a>
                                            <ul>
                                                <li><a href="event.html">Events</a></li>
                                                <li><a href="event-details.html">Event Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Pages</a>
                                            <ul>
                                                <li><a href="gallery.html">Gallery</a></li>
                                                <li><a href="teachers.html">Teachers</a></li>
                                                <li><a href="teacher-details.html">Teacher Details</a></li>
                                                <li><a href="faq.html">FAQ</a></li>
                                                <li><a href="login.html">Login</a></li>
                                                <li><a href="registration.html">Register</a></li>
                                                <li><a href="#">Others</a>
                                                    <ul>
                                                        <li><a href="tables.html">Tables</a></li>
                                                        <li><a href="tabs-and-accordions.html">Tabs and Accordions</a></li>
                                                        <li><a href="404-page.html">404 page</a></li>
                                                        <li><a href="coming-soon.html">Comingsoon</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Blog</a>
                                            <ul>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-default.html">Blog Default</a></li>
                                                <li><a href="blog-post.html">Blog Post</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- start atribute navigation -->
                                    <div class="attr-nav sm-no-margin sm-margin-65px-right xs-margin-60px-right">
                                        <ul>
                                            <li class="search"><a href="#"><i class="fas fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- end atribute navigation -->
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!-- end header section -->

        <!-- start slideshow-->
        <div class="container-fluid full-screen">
            <div class="row banner-slider">
                <div class="owl-carousel owl-theme width-100">
                    <div class="text-left item bg-img" data-overlay-dark="6" data-background="img/slider/slide5.jpg">
                        <div class="absolute-middle-center caption">
                            <div class="container">
                                <div class="overflow-hidden">
                                    <h1 class="text-white">Place For <span class="text-hightlight-color">Education</span></h1>
                                    <p class="margin-30px-bottom md-margin-20px-bottom xs-display-none center-col">Many colleges and universities have designated mottos that represent the culture of that institution identify themselves in a few words.</p>
                                    <a href="javascript:void(0);" class="butn theme">
                                        <span class="alt-font">Learn More</span><i class="fas fa-long-arrow-alt-right font-size16 sm-font-size14 margin-10px-left"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center item bg-img" data-overlay-dark="6" data-background="img/slider/slide6.jpg">
                        <div class="absolute-middle-center caption">
                            <div class="container">
                                <div class="overflow-hidden">
                                    <h1 class="text-white">Enjoy The <span class="text-hightlight-color">Adventure</span></h1>
                                    <p class="margin-30px-bottom md-margin-20px-bottom xs-display-none center-col">Many colleges and universities have designated mottos that represent the culture of that institution identify themselves in a few words.</p>
                                    <a href="javascript:void(0);" class="butn medium theme">
                                        <span class="alt-font">Learn More</span><i class="fas fa-long-arrow-alt-right font-size16 sm-font-size14 margin-10px-left"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right item bg-img" data-overlay-dark="6" data-background="img/slider/slide7.jpg">
                        <div class="absolute-middle-center caption">
                            <div class="container">
                                <div class="overflow-hidden">
                                    <h1 class="text-white">To Attain <span class="text-hightlight-color"> knowledge</span></h1>
                                    <p class="margin-30px-bottom md-margin-20px-bottom xs-display-none center-col">Many colleges and universities have designated mottos that represent the culture of that institution identify themselves in a few words.</p>
                                    <a href="javascript:void(0);" class="butn medium theme">
                                        <span class="alt-font">Learn More</span><i class="fas fa-long-arrow-alt-right font-size16 sm-font-size14 margin-10px-left"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end slideshow-->

        <!-- start categories section -->
        <section class="no-padding-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12 center-col margin-50px-bottom md-margin-40px-bottom xs-margin-30px-bottom text-center">
                        <h3 class="font-weight-500 font-size32 md-font-size28 sm-font-size26 xs-font-size24 section-title">Course Categories</h3>
                        <div class="title-border"><span class="lg"></span><span class="sm"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="course-categories margin-25px-bottom">
                            <div>
                                <img src="img/courses/c1.jpg" alt="" />
                            </div>
                            <div class="overlay">
                                <h5 class="margin-5px-bottom font-weight-500 text-white font-size24 md-font-size22 sm-font-size20 xs-font-size18">Financial</h5>
                                <p class="no-margin-bottom text-white font-size16 xs-font-size14">Over 3,145 Courses</p>
                            </div>
                        </div>

                        <div class="course-categories sm-margin-25px-bottom">
                            <div>
                                <img src="img/courses/c2.jpg" alt="" />
                            </div>
                            <div class="overlay">
                                <h5 class="margin-5px-bottom font-weight-500 text-white font-size24 md-font-size22 sm-font-size20 xs-font-size18">Marketing</h5>
                                <p class="no-margin-bottom text-white font-size16 xs-font-size14">Over 2,435 Courses</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="course-categories margin-25px-bottom">
                            <div>
                                <img src="img/courses/c3.jpg" alt="" />
                            </div>
                            <div class="overlay">
                                <h5 class="margin-5px-bottom font-weight-500 text-white font-size24 md-font-size22 sm-font-size20 xs-font-size18">Graphic</h5>
                                <p class="no-margin-bottom text-white font-size16 xs-font-size14">Over 1,985 Courses</p>
                            </div>
                        </div>

                        <div class="course-categories sm-margin-25px-bottom">
                            <div>
                                <img src="img/courses/c4.jpg" alt="" />
                            </div>
                            <div class="overlay">
                                <h5 class="margin-5px-bottom font-weight-500 text-white font-size24 md-font-size22 sm-font-size20 xs-font-size18">Photography</h5>
                                <p class="no-margin-bottom text-white font-size16 xs-font-size14">Over 1,587 Courses</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="course-categories margin-25px-bottom">
                            <div>
                                <img src="img/courses/c5.jpg" alt="" />
                            </div>
                            <div class="overlay">
                                <h5 class="margin-5px-bottom font-weight-500 text-white font-size24 md-font-size22 sm-font-size20 xs-font-size18">Science</h5>
                                <p class="no-margin-bottom text-white font-size16 xs-font-size14">Over 2,067 Courses</p>
                            </div>
                        </div>

                        <div class="course-categories">
                            <div>
                                <img src="img/courses/c6.jpg" alt="" />
                            </div>
                            <div class="overlay">
                                <h5 class="margin-5px-bottom font-weight-500 text-white font-size24 md-font-size22 sm-font-size20 xs-font-size18">Designing</h5>
                                <p class="no-margin-bottom text-white font-size16 xs-font-size14">Over 2,347 Courses</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end categories section -->

        <!-- start why choose us section -->
        <section>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 sm-margin-30px-bottom">
                        <div class="text-center padding-60px-right sm-no-padding-right">
                            <img src="img/content/image.png" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="skills-block padding-20px-left md-padding-40px-left sm-no-padding-left">
                            <h3 class="font-weight-500 font-size32 md-font-size28 sm-font-size26 xs-font-size24 section-title xs-text-center">Why choose us?</h3>
                            <div class="title-border text-left xs-text-center"><span class="sm"></span><span class="lg"></span><span class="sm"></span></div>
                            <p class="xs-text-center xs-margin-10px-top xs-margin-30px-bottom">Discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude inhabiting projection off.</p>
                            <div class="row margin-30px-bottom md-margin-25px-botttom xs-margin-25px-bottom">
                                <div class="col-lg-2 col-md-2 col-sm-12 xs-text-center sm-no-padding-right xs-margin-15px-bottom">
                                    <i class="fas fa-globe"></i>
                                </div>
                                <div class="col-lg-10 col-md-9 col-sm-10 col-sm-12 xs-text-center sm-no-padding-left xs-padding-15px-left">
                                    <h5 class="font-size22 md-font-size18 sm-font-size16 margin-10px-bottom md-margin-5px-bottom xs-margin-10px-bottom font-weight-600">Global Certificate</h5>
                                    <p class="width-95 xs-width-85 xs-center-col no-margin-bottom">We have big ideas and sharing what we learn, we make the world a better place.</p>
                                </div>
                            </div>
                            <div class="row margin-30px-bottom md-margin-25px-botttom xs-margin-25px-bottom">
                                <div class="col-lg-2 col-md-2 col-sm-12 xs-text-center sm-no-padding-right xs-margin-15px-bottom">
                                    <i class="fas fa-book"></i>
                                </div>
                                <div class="col-lg-10 col-md-9 col-sm-10 col-sm-12 xs-text-center sm-no-padding-left xs-padding-15px-left">
                                    <h5 class="font-size22 md-font-size18 sm-font-size16 margin-10px-bottom md-margin-5px-bottom xs-margin-10px-bottom font-weight-600">Book &amp; Library</h5>
                                    <p class="width-95 xs-width-85 xs-center-col no-margin-bottom">We have big ideas and sharing what we learn, we make the world a better place.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 xs-text-center sm-no-padding-right xs-margin-15px-bottom">
                                    <i class="fas fa-user-tie"></i>
                                </div>
                                <div class="col-lg-10 col-md-9 col-sm-10 col-sm-12 xs-text-center sm-no-padding-left xs-padding-15px-left">
                                    <h5 class="font-size22 md-font-size18 sm-font-size16 margin-10px-bottom md-margin-5px-bottom xs-margin-10px-bottom font-weight-600">Advance Advisor</h5>
                                    <p class="width-95 xs-width-85 xs-center-col no-margin-bottom">We have big ideas and sharing what we learn, we make the world a better place.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end why choose us section -->

        <!-- start course area section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 center-col margin-50px-bottom md-margin-40px-bottom sm-margin-30px-bottom text-center">
                        <h3 class="font-weight-500 font-size32 md-font-size28 sm-font-size26 xs-font-size24 section-title">What’s happening great university?</h3>
                        <div class="title-border"><span class="sm"></span><span class="lg"></span><span class="sm"></span></div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-12 margin-30px-bottom">
                                <div class="university-blog height-100">
                                    <div class="university-blog height-100">
                                        <div class="col-left">
                                            <img src="img/blog/1.jpg" alt="" />
                                        </div>
                                        <div class="col-right">
                                            <div class="padding-25px-lr md-padding-20px-lr xs-padding-20px-all display-table-cell vertical-align-middle height-100">
                                                <div class="margin-10px-bottom xs-margin-5px-bottom">
                                                    <span class="blog-date">June 9, 2019</span>
                                                </div>
                                                <h4 class="font-size20 md-font-size18 no-margin-bottom font-weight-500 line-height-30"><a href="javascript:void(0)" class="text-black">Guest Interview generation of business leaders</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 margin-30px-bottom">
                                <div class="university-blog height-100">
                                    <div class="col-left">
                                        <img src="img/blog/2.jpg" alt="" />
                                    </div>
                                    <div class="col-right">
                                        <div class="padding-25px-lr md-padding-20px-lr xs-padding-20px-all display-table-cell vertical-align-middle height-100">
                                            <div class="margin-10px-bottom xs-margin-5px-bottom">
                                                <span class="blog-date">June 12, 2019</span>
                                            </div>
                                            <h4 class="font-size20 md-font-size18 no-margin-bottom font-weight-500 line-height-30"><a href="javascript:void(0)" class="text-black">Professor live sport management information </a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 sm-margin-30px-bottom">
                                <div class="university-blog height-100">
                                    <div class="col-left">
                                        <img src="img/blog/3.jpg" alt="" />
                                    </div>
                                    <div class="col-right">
                                        <div class="padding-25px-lr md-padding-20px-lr xs-padding-20px-all display-table-cell vertical-align-middle height-100">
                                            <div class="margin-10px-bottom xs-margin-5px-bottom">
                                                <span class="blog-date">June 17, 2019</span>
                                            </div>
                                            <h4 class="font-size20 md-font-size18 no-margin-bottom font-weight-500 line-height-30"><a href="javascript:void(0)" class="text-black">Planning and Facilitating Effective Meetings</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="university-blog">
                            <div>
                                <img src="img/blog/4.jpg" alt="" />
                            </div>
                            <div class="padding-25px-all xs-padding-20px-all">
                                <div class="margin-10px-bottom xs-margin-5px-bottom">
                                    <span class="blog-date">June 17, 2019</span>
                                </div>
                                <h4 class="font-size20 md-font-size18 font-weight-500 line-height-30"><a href="javascript:void(0)" class="text-black">Increase your English skill with english book and education vidio</a></h4>
                                <a class="butn margin-5px-top" href="event-details.html">Read More <i class="fas fa-long-arrow-alt-right margin-10px-left"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end course area section -->

        <!-- start extra section -->
        <section class="bg-img cover-background" data-overlay-dark="6" data-background="img/content/extra-bg.jpg">
            <div class="container">
                <div class="text-center">
                    <h4 class="font-size44 md-font-size40 sm-font-size36 xs-font-size28 text-white letter-spacing-1 sm-margin-10px-bottom font-weight-500">Join our university</h4>
                    <p class="margin-40px-bottom sm-margin-25px-bottom text-white width-50 sm-width-85 xs-width-auto center-col font-size16">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur est laborum.</p>
                    <a href="javascript:void(0);" class="butn theme text-uppercase">
                        <span class="alt-font">Get Admission</span>
                    </a>
                </div>
            </div>
        </section>
        <!-- end extra section -->

        <!-- start testimonials section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 center-col margin-50px-bottom md-margin-40px-bottom xs-margin-30px-bottom text-center">
                        <h3 class="font-weight-500 font-size32 md-font-size28 sm-font-size26 xs-font-size24 section-title">What Parents Say</h3>
                        <div class="title-border"><span class="sm"></span><span class="lg"></span><span class="sm"></span></div>
                    </div>
                </div>
                <div class="testimonial-style2 owl-theme owl-carousel" data-slider-id="1">
                    <div class="text-center">
                        <div class="testi-img">
                            <img src="img/testmonials/t-7.jpg" class="border-radius-50" alt="" />
                        </div>
                        <div class="testmonial-text">
                            <p class="font-size18 md-font-size16 sm-font-size15 xs-font-size14 line-height-30 xs-line-height-28 margin-25px-bottom sm-margin-20px-bottom">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                            <h5 class="margin-5px-bottom font-size18 xs-font-size16"><a href="#" class="text-black">Stepha Kruse</a></h5>
                            <h6 class="font-size14 xs-font-size13 letter-spacing-1 font-weight-500 opacity6 no-margin-bottom">Designer</h6>
                        </div>
                    </div>
                    
                    <div class="text-center">
                        <div class="testi-img">
                            <img src="img/testmonials/t-9.jpg" class="border-radius-50" alt="" />
                        </div>
                        <div class="testmonial-text">
                            <p class="font-size18 md-font-size16 sm-font-size15 xs-font-size14 line-height-30 xs-line-height-28 margin-25px-bottom sm-margin-20px-bottom">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                            <h5 class="margin-5px-bottom font-size18 xs-font-size16"><a href="#" class="text-black">Alivin Corondo</a></h5>
                            <h6 class="font-size14 xs-font-size13 letter-spacing-1 font-weight-500 opacity6 no-margin-bottom">Developer</h6>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="testi-img">
                            <img src="img/testmonials/t-8.jpg" class="border-radius-50" alt="" />
                        </div>
                        <div class="testmonial-text">
                            <p class="font-size18 md-font-size16 sm-font-size15 xs-font-size14 line-height-30 xs-line-height-28 margin-25px-bottom sm-margin-20px-bottom">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                            <h5 class="margin-5px-bottom font-size18 xs-font-size16"><a href="#" class="text-black">Ronita Monilo</a></h5>
                            <h6 class="font-size14 xs-font-size13 letter-spacing-1 font-weight-500 opacity6 no-margin-bottom">Professor</h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end testimonials section -->

        <!-- start some moment section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 center-col margin-50px-bottom md-margin-40px-bottom xs-margin-30px-bottom text-center">
                        <h3 class="font-weight-500 font-size32 md-font-size28 sm-font-size26 xs-font-size24 section-title">Some Moment</h3>
                        <div class="title-border"><span class="sm"></span><span class="lg"></span><span class="sm"></span></div>
                    </div>
                </div>
                <div class="gallery text-center width-100">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 sm-margin-30px-bottom xs-margin-25px-bottom">
                            <div class="gallary-block">
                                <div class="position-relative">
                                    <img src="img/gallery/01.jpg" alt="" />
                                    <div class="overlay-box">
                                        <a href="img/gallery/01.jpg" class="popimg"><i class="fas fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 sm-margin-25px-bottom xs-margin-25px-bottom">
                            <div class="gallary-block">
                                <div class="position-relative">
                                    <img src="img/gallery/02.jpg" alt="" />
                                    <div class="overlay-box">
                                        <a href="img/gallery/02.jpg" class="popimg"><i class="fas fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 xs-margin-25px-bottom">
                            <div class="gallary-block">
                                <div class="position-relative">
                                    <img src="img/gallery/03.jpg" alt="" />
                                    <div class="overlay-box">
                                        <a href="img/gallery/03.jpg" class="popimg"><i class="fas fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="gallary-block">
                                <div class="position-relative">
                                    <img src="img/gallery/04.jpg" alt="" />
                                    <div class="overlay-box">
                                        <a href="img/gallery/04.jpg" class="popimg"><i class="fas fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end some moment section -->

        <!-- start footer section -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 sm-margin-30px-bottom">
                        <img src="img/logos/logo-footer.png" alt="" />
                        <p class="margin-20px-top">Nunc placerat mi id nisi interdm they mtolis. Praesient is haretra justo ught scel erisque placer.</p>
                        <div class="margin-25px-top footer-social-icons">
                            <ul>
                                <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 sm-margin-30px-bottom">
                        <div class="padding-20px-right sm-no-padding-right">
                            <div class="footer-title-style2 margin-15px-bottom xs-margin-10px-bottom">
                                <h3 class="text-hightlight-color">Contact Us</h3>
                                <div class="title-border"><span class="sm"></span><span class="lg"></span><span class="sm"></span></div>
                            </div>
                            <ul class="contact-list no-margin-bottom">
                                <li><span class="icon fa fa-home"></span>456, Lorem Street, New York, US 33454.</li>
                                <li><span class="icon fa fa-phone"></span>(+44) 123 456 7892</li>
                                <li><span class="icon fa fa-envelope"></span>addyour@emailhere</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 xs-margin-30px-bottom">
                        <div class="footer-title-style2 margin-15px-bottom xs-margin-10px-bottom">
                            <h3 class="text-hightlight-color">Quick Links</h3>
                            <div class="title-border"><span class="sm"></span><span class="lg"></span><span class="sm"></span></div>
                        </div>
                        <ul class="footer-list xs-margin-5px-bottom">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="courses-grid.html">Courses Grid</a></li>
                            <li><a href="course-details.html">Course Details</a></li>
                            <li><a href="event.html">Events</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="footer-title-style2 margin-15px-bottom xs-margin-10px-bottom">
                            <h3 class="text-hightlight-color">Newslatter</h3>
                            <div class="title-border"><span class="sm"></span><span class="lg"></span><span class="sm"></span></div>
                        </div>
                        <p class="no-margin-bottom">Nemo enim enim voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequr.</p>
                        <form>
                            <div class="form-group footer-subscribe">
                                <input type="email" placeholder="Subscribe with us" id="Email1" class="form-control">
                                <a class="butn theme"><span>Join</span></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-bar xs-font-size13">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p>&copy; Copyright Campus 2020. All Rights Reserved. Created by Chitrakoot Web</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- modernizr js -->
    <script src="js/modernizr.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- serch -->
    <script src="search/search.js"></script>

    <!-- navigation -->
    <script src="js/nav-menu.js"></script>

    <!-- tab -->
    <script src="js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.min.js"></script>

    <!-- thumbs js -->
    <script src="js/owl.carousel.thumbs.js"></script>

    <!-- jquery.counterup.min -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>

    <!-- countdown js -->
    <script src="js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="js/isotope.pkgd.min.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- all js include end -->

</body>

</html>