{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .event-header {
        padding: 110px 0;
        background-image: url('{% static 'img/bg/001.png' %}');
        background-size: cover;
        background-position: center;
        text-align: center;
        color: white;
    }
    .filtering a {
        margin-right: 10px; /* Adjust the space between buttons */
        color: #000000; /* Change the text color */
        text-decoration: none; /* Remove underline from links */
    }

    .filtering a.active {
        font-weight: bold; /* Optional: Make the active category bold */
    }
</style>

<section class="page-title-section event-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Events</h1>
            </div>
        </div>
    </div>
</section>

<!-- end page title section -->
  <section style="background-color: #eee;">
        <div class="container">
          <!-- Button-like Filters -->
          <div class="container">
          <div class="row">
              <div class="filtering col-sm-12 text-center">
                  <a href="{% url 'blogApp:event_list' %}" class="{% if not selected_category %} {% endif %}">
                      <span>View All</span>
                  </a>
                  {% for choice in category_choices %}
                  <a href="?category={{ choice.0 }}" class="{% if selected_category == choice.0 %}active{% endif %}">
                      <span>{{ choice.1 }}</span>
                  </a>
                  {% endfor %}
              </div>
          </div>
      </div>
        {% for event in events %}
        <br>
            <div class="container">
                <!-- start event block -->
                <div class="row align-items-center event-block no-gutters margin-40px-bottom">
                    <div class="col-lg-5 col-sm-12">
                        <div class="position-relative">
                            <a href="{% url 'blogApp:event_detail' slug=event.slug %}"><img src="{{ event.photo.url }}" alt="" /></a>
                            <div class="events-date">
                                <div class="font-size28">{{ event.datetime|date:"d" }}</div>
                                <div class="font-size14">{{ event.datetime|date:"b" }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-sm-12">
                        <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                            <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500"><a href="{% url 'blogApp:event_detail' slug=event.slug %}" class="text-theme-color">{{ event.title }}</a></h5>
                            <ul class="event-time margin-10px-bottom md-margin-5px-bottom">
                                <li><i class="far fa-clock margin-10px-right"></i> {{ event.datetime|date:"H" }}:{{ event.datetime|date:"i" }} - 04:30 PM</li>
                                <li><i class="fas fa-user margin-5px-right"></i> Speaker : {{ event.organizer }}</li>
                            </ul>
                            <p><a href="{% url 'blogApp:event_detail' slug=event.slug %}">{{ event.description|truncatewords:15 }}</a></p>
                            <a class="butn small margin-10px-top md-no-margin-top" href="{% url 'blogApp:event_detail' slug=event.slug %}">Read More <i class="fas fa-long-arrow-alt-right margin-10px-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
    {% empty %}
      <div class="container">
        <p>No events</p>
      </div>
    {% endfor %}

          <!-- Pagination -->
      <div class="row">
        <div class="col-sm-12">
            <!-- Start Pager -->
            <div class="text-center margin-60px-top md-margin-50px-top sm-margin-40px-top">
                <div class="pagination text-small text-uppercase text-extra-dark-gray">
                    <ul>
                        {% if events.has_previous %}
                        <li><a href="?page={{ events.previous_page_number }}"><i class="fas fa-long-arrow-alt-left margin-5px-right xs-display-none"></i> Prev</a></li>
                        {% endif %}

                        {% for i in events.paginator.page_range %}
                            {% if events.number == i %}
                            <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
                            {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if events.has_next %}
                        <li><a href="?page={{ events.next_page_number }}">Next <i class="fas fa-long-arrow-alt-right margin-5px-left xs-display-none"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
