{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
  .project-header {
      padding: 100px 0;
      background-image: url('{% static 'img/bg/004.png' %}');
      background-size: cover;
      background-position: center;
      text-align: center;
      color: white;
  }
</style>

<!-- start page title section -->
<section class="page-title-section project-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Project Gallery</h1>
                </div>
            </div>
        </div>
</section>
<!-- end page title section -->

<!-- start gallery section -->
  <section style="background-color: #eee;">
      <div class="container">
          <div class="row">
            <!-- start links -->
                <div class="filtering col-sm-12 text-center">
                    <span data-filter='*' {% if not request.GET.category %}class="active"{% endif %}>View All</span>
                    {% for category, _ in categories %}
                    <span data-filter=".{{ category|slugify }}" {% if request.GET.category == category %}class="active"{% endif %}>{{ category }}</span>
                    {% endfor %}
                </div>
                <!-- end links -->
                <div class="gallery text-center width-100 margin-30px-top xs-margin-10px-top">
                {% for project in projects %}
                  <div class="col-lg-4 col-md-6 items {{ project.category|slugify }} margin-30px-bottom sm-margin-25px-bottom xs-margin-20px-bottom">
                    <div class="gallary-block">
                      <div class="position-relative">
                        <a href="{% url 'blogApp:project_detail' pk=project.pk %}">
                          <img src="{{ project.photo.url }}" alt="{{ project.title }}" />
                        </a>
                        <div class="overlay-box">
                          <a href="{% url 'blogApp:project_detail' pk=project.pk %}">
                              <span class="popimg"><i class="fas fa-plus"></i></span>
                              </a>
                              <a href="{{ project.photo.url }}" class="popimg"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
              </div>
          </div>
      </div>
  </section>
  <!-- end gallery section -->

{% endblock %}
